.sobre__descricao{
  color:var(--cinza-claro);
  font-weight: 300;
}
@media screen and (min-width: 0px) {
  .sobre__descricao {
      font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .sobre__descricao {
      font-size: 1.75rem;
  }
}